# هذه بعض الأمثلة على أنماط الملفات التي يتم تجاهلها عادةً.
# يمكنك تخصيص هذه القائمة بما يتوافق مع طبيعة مشروعك.

# ملفات ومجلدات Node.js الأساسية
node_modules/
dist/

# ملفات جافا المترجمة
*.class

# ملفات بايثون المؤقتة
*.py[cod]

# ملفات السجلات والتقارير (Logs)
*.log

# ملفات الحزم المضغوطة
*.jar

# مجلدات أدوات البناء والـ Maven
target/
dist/

# ملفات بيئة تطوير JetBrains IDE
.idea/

# تقارير اختبارات الوحدة
TEST*.xml

# ملفات النظام التلقائية الناتجة عن نظام MacOS
.DS_Store

# ملفات النظام التلقائية الناتجة عن نظام Windows
Thumbs.db

# ملفات التطبيقات والبرامج التنفيذية
*.app
*.exe
*.war

# ملفات الوسائط المتعددة الكبيرة والملفات المضغوطة
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.zip

# الملفات والمجلدات الحساسة والمؤقتة الخاصة بالبوت (تم تأمينها منعاً لرفعها)
temp/
session/
sessions/
session_backup/
data.*
config.json
yarn.*
package-lock.*
